.chat-screen-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f2f5;
    width: 100%;
}

.welcome-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    border-bottom: 6px solid #25d366;
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
}

.welcome-image-container {
    margin-bottom: 20px;
}

.welcome-image {
    max-width: 320px;
    width: 80%;
    height: auto;
    object-fit: contain;
}

.welcome-title {
    font-size: 32px;
    font-weight: 300;
    color: #41525d;
    margin-bottom: 18px;
    margin-top: 28px;
}


.welcome-text {
    font-size: 14px;
    color: #667781;
    line-height: 20px;
    max-width: 560px;
    margin-bottom: 30px;
}


.welcome-footer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: #8696a0;
    margin-top: 40px;
}

.welcome-area .lock-icon {
    width: 12px;
    height: 12px;
    fill: #8696a0;
}

@media (max-width: 768px) {
    .chat-screen-container{
        display:inline-flex;
    }
    .welcome-area {
        display:none;
    }

}
